<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109955506907-1tspgm3vrghdt7n0rvj7qlpvffujl53i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109955506907-1tspgm3vrghdt7n0rvj7qlpvffujl53i</string>
	<key>API_KEY</key>
	<string>AIzaSyBbnKINDV1lg4nAlIkt3hBp5Uv9XxmYZwA</string>
	<key>GCM_SENDER_ID</key>
	<string>109955506907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cod3breaker.FirebaseConstruct</string>
	<key>PROJECT_ID</key>
	<string>fir-construct-e98e2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-construct-e98e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109955506907:ios:6a6a5e31394de7e60522fe</string>
	<key>DATABASE_URL</key>
	<string>https://fir-construct-e98e2.firebaseio.com</string>
</dict>
</plist>